<br>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <h1>CONTACT TO TOY STORE</h1>
    <hr>
    <div class="form-group">
      <label>Mail</label>
      <h5>toystore@hotmail.com</h5>
    </div>
    <div class="form-group">
      <label>Facebook</label>
      <h5>TOY STORE SHOP</h5>
    </div>
    <div class="form-group">
      <label>Telephone</label>
      <h5>02-123-145-568</h5>
      <h5>02-123-145-548</h5>
      <h5>02-123-145-598</h5>
    </div>

  </div>
</div>
