<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h3>
        {{ category.name }} Category Product List
        <span *ngIf="isLogin">
          <button class="btn btn-primary btn-position" (click)="addProduct()">
            Add New Product
          </button>
        </span>
      </h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <div *ngIf="products.length == 0 && !loading"><p>no such products found</p></div>
      <div *ngIf="products.length > 0 && !loading">
        <table class="table table-responsive">
          <tr>
              <input type="text" class="search-box"
                     placeholder="search" [(ngModel)]="filterText">
          </tr>
          <tr *ngFor="let product of products | filterPipe: filterText : products">
            <td class="td-custom-style">
              <button class="btn-link btn-style" (click)="onSelectProduct(product)">
                {{product.name}}
              </button>
            </td>
            <td class="td-custom-style">
              <button class="btn btn-primary" (click)="onBuyProduct(product)">
                <span class="glyphicon glyphicon-shopping-cart"></span>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
