.btn-style {
  font-size: 20px;
  width: 100%;
  text-align: left;
}

.search-box{
  width: 100%;
  height: 50px;
  font-size: 20px;
  border: none;
  padding-left: 10px;
}

.btn-position{
  position: absolute;
  right: 10px;
}

.td-custom-style {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #a0a0a0;
}
